:root {
    --main-bg-color: #FFFFFF;
    --secondary-bg-color: #F5F4FA;
    --accent-bg-color: #2196F3;
    --hero-btn-bg-color: #188CE8;
    --hero-footer-bg-color: #2F303A;

    --main-text-color: #757575;
    --title-color: #212121;
    --accent-color: #2196F3;
    --hero-color: #FFFFFF;
    --logo-color: #000000;
    --header-border-color: #ECECEC;
    --projects-border-color: #EEEEEE;
    --icon-color: #AFB1B8;

    --tr-dtf: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}