.clients-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.clients-item {
    width: 170px;
    height: 92px;
}

.clients-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border: 1px solid var(--icon-color);
    border-radius: 4px;
    fill: var(--icon-color);
    &:hover,
    &:focus {
        fill: var(--accent-color);
        border-color: var(--accent-color);
    }
}

