.footer {
    padding: 60px 0;
}

.footer__container {
    display: flex;
}

.footer__contacts {
    width: 231px;
    margin: 0 70px 0 0;
}

.address__list {
    margin-top: 20px;
}

.address__link {
    font-style: normal;
    @include font(400, 14px, 1.71);
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.footer__logo,
.footer__map {
    color: var(--hero-color);
}

.address__item:not(:last-child) {
    margin-bottom: 9px;
}

.footer__accession {
    margin: 0 93px 0 0;
    padding-top: 12px;
}

.accession__text {
    @include font(700, 14px, 1.14);
    text-transform: uppercase;
    color: var(--main-bg-color);
}
.accession__soc {
    margin-top: 16px;
}
.soc__link-white {
    background-color: rgba(255, 255, 255, 0.1);
    fill: var(--hero-color);
}

.footer__subscription {
    margin: 0;
    padding-top: 12px;
}

.sub__text {
    display: block;
    @include font(700, 14px, 1.14);
    text-transform: uppercase;
    color: var(--main-bg-color);
    margin-bottom: 20px;
}

.sub__wrap {
    display: flex;
    gap: 12px;
}

.sub__input {
    width: 358px;
    height: 50px;
    padding: 15px 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.6);
    &::placeholder {
        @include font(400, 16px, 12.5);
        display: flex;
        align-items: center;
        color: rgba(255, 255, 255, 0.6);
    }
}

.sub__btn {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;  
    padding: 10px 28px;
    min-width: 200px;
    fill: var(--hero-color);
}

