.hero,
.footer {
    background-color: var(--hero-footer-bg-color);
}

.hero {
    padding: 200px 0;
    max-width: 1600px;
    margin: 0 auto;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
    background-position: center;
    background-size: cover;
}

.hero-title {
    max-width: 696px;
    margin: 0 auto 30px;
    @include font(900, 44px, 1.36);
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--hero-color);
}

.hero-btn {
    margin: 0 auto;
    padding: 10px;
    min-width: 216px;
    display: block;
}

