.team {
    background-color: var(--secondary-bg-color);
}

.team__item {
    width: calc((1200px - 120px)/4);
    background-color: var(--main-bg-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team__name,
.team__profession {
    @include font(null, 16px, 1.19);
    text-align: center;
}

.team__member {
    padding: 30px 0 30px;
}

.team__name {
    font-weight: 500;
    margin-bottom: 10px;
}

.soc {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.team__soc {
    margin-top: 16px;
}

.soc__item {
    width: 44px;
    height: 44px;
}

.soc__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: var(--main-bg-color);
    border-radius: 50%;
    fill: var(--icon-color);
    &:hover,
    &:focus {
        fill: var(--hero-color);
        background-color: var(--accent-color);
    }
}

